<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vechicle-Cleaning</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Here we include bootstrap. This will be made available to all of the generated HTML/JS that React generates-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/vehicle_app.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    
</head>
<body>
    <div id="app"></div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>
